<h1>Seasons</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>

  <% @seasons.each do |season| %>
    <tr>
      <td><%= season.name %></td>
      <td><%= link_to "Show", season_path(season) %></td>
      <td><%= link_to "Delete", season_path(season), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @seasons %>
