<h1>Hello, Rails!</h1>

<nav>
  <ul>
    <li><%= link_to "Players", controller: "players" %> <%= link_to "[new]", new_player_path %></li>
    <li><%= link_to "Seasons", controller: "seasons" %></li>
  </ul>
</nav>
